@media (min-width: 992px) and (max-width: 1200px)
    .menu
        .menu
            &_item
                padding-right: 20px
            &_link
                font-size: 13px  
    .promo
        .promo_header
            font-size: 50px    

@media (min-width: 768px ) and (max-width: 991px)
    .menu
        .menu_item
            padding-right: 1px
        .menu_link
            font-size: 10px    
    .subheader_phone
        font-size: 18px
    .subheader
        img
            width: 100%
        .subheader_text
            font-size:  11px 
        .subheader_btn
            width: 100%
            margin-top: 25px
            height: 30px
            font-size: 13px  
    .promo
        .promo_header
            font-size: 40px  
        .promo_subheader
            font-size: 29px
        .promo_btn
            width: 180px
            height: 42px   
            font-size: 14px   
    .reason
        .reason_text
               font-size: 10px
               line-height: 14px  
        .reason_header_blue
                     font-size: 12px
                     line-height: 15px    

@media (min-width: 320px ) and (max-width: 767px)
    .menu
        position: fixed
        top: 0
        right: 0
        left: -100%
        width: 80%
        height: 100vh
        padding: 20px 15px
        flex-direction: column
        background-color: rgba(0, 0, 0, .8)
        justify-content: center
        align-items: center
        transition: 0.6s all
        &_active
            left: 0%
        .menu_item
            margin: 15px 0
    .promo
        max-height: 400px
        &_subheader
            padding-top: 30px    
        .promo_btn
            width: 310px;
            height: 80px;   

    .reason
        .reason_content
            display: flex
            flex-direction: column  
            .reason_img
                padding-bottom: 30px   
    
    
       
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)   
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            margin-bottom: 4px 
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: rotate(45deg)

    .uber_car
        
        width: 500px
        height: 300px                  
    

    .xs-hidden
        display: none    
    .xs-visible
        display: block        
    .subheader_text
        display: none
    
    .subheader
        .subheader_btn
            display: block
            position: absolute
            right: 10px
            height: 36px
        .subheader_phone
            display: block
            margin-right: 15px
            font-size: 19px
    footer
        display: block
        justify-content: space-around
        min-height: 200px
        flex-direction: column
        padding: 25px
    .test-red
        height: 30px
        width: 60px
        background-color: red    
    .footer_wrapper
        display: flex
        flex-direction: column
        justify-content: center
        min-height: 250px
        
    .footer_links
        margin-top: 22px 
    .footer_mobile
        display: flex 
        
        justify-content: center 
        width: 260px
        a 
            margin: 10px
    .footer_social
        width: 160px
        display: flex 
        justify-content: center
        padding: 20px 83px
        &_item
            margin: 4px
    .dnone
        display: none    
    /* .footer_wrapper
        div:nth-child(3)
         display: none */
    .nowidth
        width: 1px     

@media (min-width: 100px ) and (max-width: 575px)
    .hidden_320
        display: none
    .hamburger
        right: 25px
    nav
        height: 33px  
    header
        height: 30px      

    .uber_car
        width: 83%
        height: 25%

    .subheader
        top: 10px
        .subheader
            &_logo
                margin-top: 39px
                img
                    width: 100%
                    height: 100%   
            &_phone
                font-size: 12px
            &_btn
                width: 110px
                height: 22px   
                font-size: 10px 
                margin-top: 9px
                right: 21px
            &_phone
                display: block
                margin-top: 32px    
    .promo
        padding: 0 15px
        min-height: 475px
        .promo
            &_header
                font-size: 30px
                padding-top: 113px 
                line-height: 35px  
            &_subheader
                font-size: 19px  
            &_btn
                width: 210px
                height: 50px  
                font-size: 16px  
                 
    .reason
        padding-top: 22px 
        max-width: 100%
        &_header
            margin-top: 21px  
            font-size: 15px
            font-weight: 700
            line-height: 48px     
        &_content
            margin: 0
            padding-top: 26px 
            word-wrap: break-word
            
    .mobile
        &_item
            width: 290px
            height: 254px 
            .mobile_item_subtitle 
                margin: 0px 46px 82px 46p
                font-size: 18px
            &_plus
                bottom: 22px
                left: 131px
                  
    .footer
        &_divider
            width: 253px
            height: 4px 
        &_links
            width: 100%
            font-size: 10px
            
        &_social
            padding: 20px 0  
    .footer_links
        &_sub
        font-size: 8px   
        width: 100%
        a 
                display: block
                padding: 10px
        .footer_links_sub
            flex-wrap: wrap
            justify-content: center
            a 
                    padding: 0 7px
        
			        
        
        &_main
            padding: 0
    .footer_mobile
        width: 100%
        a 
            margin: 4px

                                       